* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(11, 128, 224);
}

.landing {
  color: beige;
  height: 100vh;
  width: auto;
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.text p {
  padding: 10px;
}

.text a {
  color: beige;
  text-decoration: underline dotted;
}

.text a:hover {
  text-decoration: underline;
}

.projects {
  color: black;
  padding: 100px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.info {
  padding: 20px 0;
}

.projects a {
  color: black;
  text-decoration: underline;
  padding: 10px 10px 10px 0;
}

.projects h3 {
  padding-bottom: 15px;
}

.projects img {
  width: 250px;
  height: 170px;
}

.project {
  padding-bottom: 50px;
}

@media only screen and (max-width: 450px) {
  .text a {
    text-decoration: underline;
  }
}
